# node packages
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules
.pnp.*

# Editors
.idea
.vscode

# OS
.DS_Store

# Build
dist

# Coverage
coverages

# Logs
*.log
