# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
node_modules

# Jetbrain
.idea/workspace.xml
.ideausage.statistics.xml
.idea/shelf
.iml

# OS
.DS_Store

# Build
dist

# Coverage
coverages
