# Yarn - using zero install
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Jetbrain
.idea/workspace.xml
.ideausage.statistics.xml
.idea/shelf
.iml

# OS
.DS_Store

# Build
dist

# Coverage
coverages
